@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Rubik;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen(sm) {
  .zoom {
    zoom: 1.1;
  }
}

@media screen(md) {
  .zoom {
    zoom: 1.1;
  }
}

@media screen(lg) {
  .zoom {
    zoom: 1.2;
  }
}

@media screen(xl) {
  .zoom {
    zoom: 1.2;
  }
}

@media screen(2xl) {
  .zoom {
    zoom: 1.3;
  }
}
